 <h1> Ajouter un produit </h1>
<!-- <div id="booking" class="section"> -->
		<div class="section-center"  style="margin-left : 20%;">
			<div class="container">

					<div class="col-md-7 col-md-offset-1">
						<div class="booking-form">
							<form  action="" method="POST" enctype="multipart/form-data">
								<div class="row">
                                <input type="hidden" name="id"  value="<?php echo $row['id'];?>" >
									<div class="col-md-12">
										<div class="form-group">
											<span class="form-label"> Nom </span>
											<input type="text"  id="titre" class="form-control" required >
										</div>
									</div>
								

									<div class="col-md-12">
										<div class="form-group">
											<span class="form-label"> Catégorie</span>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                              
										</div>
									</div>
				
									<div class="col-md-12">
										<div class="form-group">
											<span class="form-label">Prix</span>
											<input class="form-control"  id="prix" type="text"  required>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<span class="form-label"> Quantité </span>
											<input class="form-control"  id="stock" type="text" required>
										</div>
									</div>

                                    <div class="col-md-12">
										<div class="form-group">
											<span class="form-label"> Lien 1 </span>
											<input class="form-control"  id="stock" type="text" required>
										</div>
									</div><div class="col-md-12">
										<div class="form-group">
											<span class="form-label"> Lien 2 </span>
											<input class="form-control"  id="stock" type="text" required>
										</div>
									</div><div class="col-md-12">
										<div class="form-group">
											<span class="form-label">Lien 3 </span>
											<input class="form-control"  id="stock" type="text" required>
										</div>
									</div><div class="col-md-12">
										<div class="form-group">
											<span class="form-label"> Lien 4 </span>
											<input class="form-control"  id="stock" type="text" required>
										</div>
									</div>
									
								</div>
								<div class="form-btn">
									<button   id="ajoutproduit" style="border:none; margin-bottom : 50px" class="submit-btn btn-primary btn-lg btn-block">
										Valider
									</button>




								</div>
							</form>
						</div>
					</div>
	
			</div>
		</div>
